@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: #000;
	colour:#fff;
}

a{
	text-decoration: none;
	color:#fff;
}

ul{
list-style: none;

}

/* Header/Navbar */
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
}

/* Logo */
.logo{
	width: 210px;
	height: auto;
}

.logo img{
	display: block;
	width: 100%;
	height: auto;
}

