@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.midjourney{
	font-family: 'Lato', sans-serif;
}

.midjourney select{
	height:3rem;
	cursor:pointer;
	border-radius:.375rem;
	--tw-bg-opacity:1;
	background-color:rgb(23 23 23/var(--tw-bg-opacity));
	--tw-text-opacity:1;
	color:rgb(255 255 255/var(--tw-text-opacity))
}

.midjourney select:hover{
	--tw-bg-opacity:1;
	background-color:rgb(64 64 64/var(--tw-bg-opacity))
}

.midjourney-navbar select{
	height:.75rem;
	width:8rem;
	cursor:pointer;
	border-radius:.375rem;
	--tw-bg-opacity:1;
	background-color:rgb(38 38 38/var(--tw-bg-opacity));
	font-size:.875rem;
	line-height:1.25rem;
	--tw-text-opacity:1;
	color:rgb(255 255 255/var(--tw-text-opacity))
}

.midjourney-navbar select:hover{
	--tw-bg-opacity:1;
	background-color:rgb(64 64 64/var(--tw-bg-opacity))
}

.midjourney-scrollbar::-webkit-scrollbar{
	width:8px;
	height:8px
}

.midjourney-scrollbar::-webkit-scrollbar-track{
	z-index:50;
	border-radius:0;
	--tw-bg-opacity:0;
	margin:10px 0
}

.midjourney-scrollbar::-webkit-scrollbar-corner{
	background-color:transparent;
	color:transparent
}

.midjourney-scrollbar::-webkit-scrollbar-thumb{
	cursor:pointer;
	border-radius:9999px;
	--tw-bg-opacity:1;
	background-color:rgb(163 163 163/var(--tw-bg-opacity))
}

.midjourney-scrollbar::-webkit-scrollbar-thumb:hover{
	cursor:move;
	--tw-bg-opacity:1;
	background-color:rgb(163 163 163/var(--tw-bg-opacity))
}

.midjourney-scrollbar-canvas{overflow:overlay}

